nav{
    z-index: 9;
    box-shadow: 0px 5px 5px rgb(225, 225, 225);
    height:50px;
    border-bottom: 20px;
    padding: 10px;
}
.list:hover{
    background: green;
    color: white;
    border-radius: 5px;
}